@model HotelManagementSystem.Models.Menu

@{
    ViewData["Title"] = "Menu Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h1>Details</h1>

<div>
    <h4>Menu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="MenuEdit" asp-route-id="@Model?.MenuId">Edit</a> |
    <a asp-action="Menus">Back to List</a>
</div>
