@model HotelManagementSystem.Models.Room

@{
    ViewData["Title"] = "Room Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h1>Details</h1>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomCharges)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomCharges)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOpen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOpen)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="RoomEdit" asp-route-id="@Model?.RoomNo">Edit</a> |
    <a asp-action="Rooms">Back to List</a>
</div>
