@model HotelManagementSystem.Models.Order

@{
    ViewData["Title"] = "Cancel";
}

<h1>Cancel</h1>

<h3>Are you sure you want to Cancel?</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.MenuName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Menu.MenuName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.MenuDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Menu.MenuDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.MenuPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Menu.MenuPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderTime)
        </dd>
    </dl>
    
    <form asp-action="CancelMyOrder">
        <input type="hidden" asp-for="OrderId" />
        <input class="btn btn-danger" type="submit" value="Cancel" /> |
        <a asp-action="MyOrderDetails" asp-route-id="@Model.OrderId">Back to Details</a>
    </form>
</div>
