@model IEnumerable<HotelManagementSystem.Models.Menu>

@{
    ViewData["Title"] = "Index";
}

<h1>Menu</h1>

<table class="table">
    @if (Model.First() != null)
    {
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MenuName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MenuType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MenuDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MenuPrice)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (item.isActive)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MenuName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MenuType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MenuDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MenuPrice)
                        </td>

                        <td>
                            <a class="btn btn-primary" asp-action="Order" asp-route-id="@item.MenuId">Order</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    }
</table>
