@model HotelManagementSystem.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.MenuName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Menu.MenuName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.MenuDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Menu.MenuDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.MenuPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Menu.MenuPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderTime)
        </dd>
    </dl>
</div>
<div>
    @if(Model.OrderStatus == "Pending")
    {
        <a class="btn btn-danger" asp-action="CancelMyOrder" asp-route-id="@Model.OrderId">Cancel</a>
    }
    <a asp-action="MyOrders">Back to My Orders</a>
</div>
