@model HotelManagementSystem.Models.Booking

@{
    ViewData["Title"] = "Details";
}

<h1>My Booking Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurationStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurationStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurationEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurationEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomNoNavigation.RoomCharges)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomNoNavigation.RoomCharges)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomNoNavigation.RoomType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomNoNavigation.RoomType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomNoNavigation.RoomDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomNoNavigation.RoomDescription)
        </dd>
    </dl>
</div>
<div>
    @if(Model.BookingStatus == "Pending")
    {
        <a class="btn btn-danger" asp-action="CancelMyBooking" asp-route-id="@Model?.BookingId">Cancel</a> 
    }
    <a class="ml-2" asp-action="MyBookings">Back to My Bookings</a>
</div>
