@model IEnumerable<HotelManagementSystem.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>My Bookings</h1>
<table class="table">
    @if (Model.FirstOrDefault() != null)
    {
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BookingStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaymentStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DurationStart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DurationEnd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookingTime)
                </th>
                <th>
                    View Details
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookingStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DurationStart)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DurationEnd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookingTime)
                    </td>
                    <td>
                        <a asp-action="MyBookingDetails" asp-route-id="@item.BookingId">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    }
    else
    {
        <h3 class="text-secondary">No Bookings Yet </h3>
        <a asp-action="Index" asp-controller="Rooms">Rooms</a>
    }
</table>
